body {
	max-width: 1200px;
	margin: 0 auto;
}
.nomoney {
	background-color: red;
	border: 1px solid red;
	padding: 50px;
	text-align: center;
	font-size: 32px;
}
.successfully {
	background-color: green;
	border: 1px solid yellowgreen;
	padding: 50px;
	text-align: center;
	font-size: 32px;
}

p {
	font-size: 24px;
	background-color: #d9d4d4;
	padding: 25px;
}
